body {
    padding: 30px;
}

h1 {
    background-color: darksalmon;
    text-align: center;
    color: aliceblue;
    font-family: 'Roboto Condensed', sans-serif;

}

.par1 {
    text-align: left;
    font-size: 16px;
}

.par2 {
    text-align: center;
    font-size: 32px;
}

span {
    color: rgb(243, 6, 6);
    text-size-adjust: 50px;

}

.par3 {
    text-align: right;
    font-size: 16px;
}